@use '../../style/style' as styles;

.jokeComp {

  width: 50%;
  margin: 0 auto;

  & .jokeWrapper {
    background-color: styles.$secondary;
    @include styles.yellowBorderFull;
    padding: 20px;
    margin: 40px;


    & .jokeText {
      min-height: 50px;
      padding-bottom: 10px;
    }

    & .buttonWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & .actionButton {
        @include styles.purpleButton;
        width: 45%;
      }
    }


  }
}