@use '../../style/style' as styles;

.imageComp {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .pictureCard {
    @include styles.yellowBorderFull;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: styles.$secondary;
    width: 100%;
    & .imageWrapper {
      width: 30vw;
      height: 30vw;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & img {
        height: auto;
      }
    }

  }
}