@use '../../style/style' as styles;

.descriptionComp {
  padding: 10px;
  width: 100%;
  background-color: styles.$secondary;
  @include styles.yellowBorder;
  & .desc {
    padding: 10px;
    @include styles.regularText;
  }
}