@use 'variables' as vars;

// size mixins

@mixin forRootElements {
  @include stretch;
  background-color: vars.$primary;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

@mixin square($val) {
  height: $val;
  width: $val;
}

@mixin stretch {
  width: 100%;
  min-height: 100%;
}


// components mixins

@mixin purpleButton {
  padding: 5px 20px;
  background-color: vars.$danger;
  @include shadow;

  &:hover {
    background-color: vars.$dangerHover;
    cursor: pointer;
  }&:focus {
    background-color: vars.$danger;
    cursor: pointer;
  }
}

@mixin regularLink {
  color: vars.$danger;
  background: vars.$third;
  font-weight: bold;
  padding: 5px;
  border: black solid 2px;

  &:hover {
    cursor: pointer;
    background: vars.$thirdHoover;
  }
}

@mixin forHeader {
  width: 100%;
}

@mixin forContent {
  flex-grow: 1;
}

@mixin forFooter {
  background-color: vars.$secondary;
  @include yellowBorder;
  border-bottom:none;
  width: 100%;
  padding: 20px;
}




// build mixins

@mixin shadow {
  box-shadow: 5px 6px 13px -3px rgba(0,0,0,0.67);
}

@mixin importantText {
  font-size: 2rem;
  font-weight: bold;
}

@mixin regularText {
  font-size: 2rem;
  font-weight: regular;
}

@mixin yellowBorder {
  border-top: 2px solid vars.$third;
  border-bottom: 2px solid vars.$third;
}
@mixin yellowBorderFull {
  border: 2px solid vars.$third;
}
