// noinspection CssInvalidAtRule
@use '../../style/style' as styles;

.welcomeComp {
  background-color: styles.$secondary;
  @include styles.yellowBorder;
  border-bottom:none;
  width: 100%;
  padding: 20px;

  & .inputWrapper {
    & input {
      width: 100%;
      padding: 10px;
    }
    & div {
      width: 100%;
      text-align: left;
      padding: 10px;
    }
  }

}