@use '../../style/style' as styles;

.mainComponent {
  padding: 20px;
  background-color: styles.$secondary;
  @include styles.yellowBorder;
  & .desc {
    padding: 10px;
    @include styles.importantText;
  }
}